<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{30}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <file>${logs.dir:-.}/simple-scala-service.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>


            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
            </provider>

        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${logs.dir:-.}/simple-scala-service.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level[%logger] - %msg%n</pattern>
        </encoder>

    </appender>

    <logger name="akka" level="INFO" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="com.simplescalaservice" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
